* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* estructura */
body {
  background-color: white;
  font-family: "Poppins", sans-serif; }
  body .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr auto;
    row-gap: 10px;
    grid-template-areas: "header header" "main main" "section1 section1" "footer footer";
    /* extends */
    /* titulos de las pages */
    /* pages/nosotros */
    /* pages/contacto */
    /* pages/carrito */
    /* mediaqueries tablet index */
    /* mediaqueries tablet grande index*/
    /* mediasqueries */
    /* mediasqueries */ }
    body .grid header {
      /* menu =========== */
      grid-area: header; }
      body .grid header nav {
        background-color: #f8f5ee; }
        body .grid header nav h1 {
          font-size: 1.2em;
          font-weight: 600;
          font-family: "Oswald", sans-serif; }
    body .grid main {
      /* main ========== */
      grid-area: main; }
    body .grid .mainPrincipal {
      display: flex;
      justify-content: center; }
      body .grid .mainPrincipal #carrusel_remera {
        width: 98%;
        height: 90%; }
    body .grid .section1 {
      /* section1 ========= */
      grid-area: section1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 5%; }
      body .grid .section1 img {
        margin: 10px; }
      body .grid .section1 .sectionImg {
        width: 450px;
        box-shadow: 0px 0px 6px 0px #494949; }
      body .grid .section1 .sectionImg2 {
        width: 685px;
        box-shadow: 0px 0px 6px 0px #494949; }
      body .grid .section1 .divLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%; }
        body .grid .section1 .divLogo .imgLogo {
          max-width: 200px;
          transition: 0.5s; }
          body .grid .section1 .divLogo .imgLogo:hover {
            transform: scale(1.1); }
    body .grid footer {
      /* footer ======== */
      grid-area: footer;
      background-color: #f8f5ee; }
      body .grid footer .ul-icono {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 15px;
        list-style: none; }
        body .grid footer .ul-icono li .footerA1 {
          color: black;
          text-decoration: none;
          margin: 3px;
          transition: 0.5s; }
          body .grid footer .ul-icono li .footerA1:hover {
            color: #e46dc6;
            transform: scale(1.1); }
        body .grid footer .ul-icono li .footerA2 {
          color: black;
          text-decoration: none;
          margin: 3px;
          transition: 0.5s; }
          body .grid footer .ul-icono li .footerA2:hover {
            color: #2929c7;
            transform: scale(1.1); }
      body .grid footer .p_footer {
        text-align: center;
        color: black; }
    body .grid .mainNosotros h2, body .grid .mainProductos h2, body .grid .mainContacto h2, body .grid .mainCarrito h2 {
      color: #494B4D;
      font-size: 2.5em;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 15px Opx; }
      body .grid .mainNosotros h2:after, body .grid .mainProductos h2:after, body .grid .mainContacto h2:after, body .grid .mainCarrito h2:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #C7C7C7;
        margin: 20px 0; }
    body .grid .mainNosotros {
      max-width: 900px;
      width: 80%;
      margin: 0px auto; }
      body .grid .mainNosotros .nosotros_div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #f8f5ee; }
        body .grid .mainNosotros .nosotros_div p {
          text-align: center;
          padding: 15px; }
      body .grid .mainNosotros .sectionNosotros {
        width: 95%;
        margin: 40px auto; }
        body .grid .mainNosotros .sectionNosotros .divContainer {
          display: flex;
          justify-content: center; }
          body .grid .mainNosotros .sectionNosotros .divContainer .divMapP {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-self: center;
            margin-right: 20px; }
            body .grid .mainNosotros .sectionNosotros .divContainer .divMapP h3 {
              color: #494B4D;
              margin-bottom: 30px; }
            body .grid .mainNosotros .sectionNosotros .divContainer .divMapP p {
              background-color: #f8f5ee;
              border-radius: 20px;
              padding: 5px; }
          body .grid .mainNosotros .sectionNosotros .divContainer .divMap {
            box-shadow: 0px 0px 6px 0px #9e9e9e;
            margin-left: 20px; }
    body .grid .mainProductos {
      max-width: 1100px;
      width: 90%;
      margin: auto; }
      body .grid .mainProductos .tiendaProductos {
        display: flex;
        /* lista ========= */
        /* productos ========= */ }
        body .grid .mainProductos .tiendaProductos .divLista {
          display: flex;
          flex-direction: column;
          width: 18%; }
          body .grid .mainProductos .tiendaProductos .divLista .menuLista {
            display: block;
            width: 90%;
            padding: 15px 0px;
            margin-bottom: 20px;
            background: #f5ecd9;
            color: black;
            text-align: center;
            text-decoration: none; }
            body .grid .mainProductos .tiendaProductos .divLista .menuLista:hover {
              background-color: #6a87a5;
              color: white; }
          body .grid .mainProductos .tiendaProductos .divLista .item-active {
            background: #6a87a5;
            color: white; }
            body .grid .mainProductos .tiendaProductos .divLista .item-active:hover {
              background-color: #f5ecd9;
              color: black; }
        body .grid .mainProductos .tiendaProductos .sectionProductos {
          width: 82%;
          display: flex;
          flex-wrap: wrap; }
          body .grid .mainProductos .tiendaProductos .sectionProductos .divImg {
            width: 22%;
            margin-left: 3%;
            margin-bottom: 25px;
            box-shadow: 0px 0px 6px 0px #5a5a5a;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: flex-start; }
            body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .productosImg {
              width: 100%; }
            body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor {
              background-color: white;
              width: 100%;
              text-align: center;
              padding-top: 20px;
              padding-bottom: 15px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor figcaption {
                padding-bottom: 10px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btnComprar {
                border-radius: 5px;
                display: inline-block;
                padding: 5px 10px;
                text-decoration: none;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btn-black {
                color: white;
                background-color: #3b5168; }
                body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btn-black:hover {
                  background-color: #f5ecd9;
                  color: black; }
                body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btn-black:active {
                  background-color: #858181; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btnCarrito {
                border-radius: 5px;
                display: inline-block;
                padding: 5px 15px;
                text-decoration: none;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btn-white {
                color: white;
                background-color: #7289a1; }
                body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btn-white:hover {
                  background-color: #f5ecd9;
                  color: black; }
                body .grid .mainProductos .tiendaProductos .sectionProductos .divImg .descripcionColor .boton .btn-white:active {
                  background-color: #616161; }
    body .grid .mainContacto {
      margin: auto; }
      body .grid .mainContacto form {
        background-color: #f8f5ee;
        display: flex;
        flex-direction: column;
        width: 400px;
        border-radius: 10px;
        font-size: 1.0em;
        margin: 0 auto;
        padding: 20px; }
        body .grid .mainContacto form .field {
          border: 1px solid #ccc;
          padding: 10px; }
          body .grid .mainContacto form .field:focus {
            border-color: #4ea5f1; }
        body .grid .mainContacto form .center-content {
          text-align: center; }
          body .grid .mainContacto form .center-content .btn {
            border-radius: 5px;
            display: inline-block;
            padding: 10px 15px;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
          body .grid .mainContacto form .center-content .btn-green {
            color: white;
            background-color: #3CC93F; }
            body .grid .mainContacto form .center-content .btn-green:hover {
              background-color: #37B839; }
            body .grid .mainContacto form .center-content .btn-green:active {
              background-color: #29962A; }
    body .grid .mainCarrito {
      margin: 0px auto; }
      body .grid .mainCarrito .div_carrito {
        text-align: center;
        padding-top: 20px; }
        body .grid .mainCarrito .div_carrito #icono_carrito {
          margin-bottom: 10px; }
        body .grid .mainCarrito .div_carrito h3 {
          font-size: 1.4em; }
    @media screen and (max-width: 360px) and (min-width: 200px) {
      body .grid {
        /* mediasqueries celular index*/
        /* mediasqueries nosotros */
        /* mediasqueries productos */
        /* mediasqueries contacto */ }
        body .grid .section1 .sectionImg {
          width: 250px; }
        body .grid .section1 .sectionImg2 {
          width: 250px; }
        body .grid .section1 .imgLogo {
          margin-top: 30px;
          width: 100px; }
        body .grid .ul-icono {
          padding-left: 20px;
          margin-top: 20px; }
        body .grid .nosotros_div {
          max-width: 100%; }
        body .grid .sectionNosotros {
          margin: auto; }
          body .grid .sectionNosotros .divContainer {
            flex-direction: column;
            justify-content: center; }
            body .grid .sectionNosotros .divContainer .divMap {
              display: none; }
        body .grid .mainProductos {
          width: 100%; }
          body .grid .mainProductos .tiendaProductos {
            flex-direction: column;
            /* productos ========= */ }
            body .grid .mainProductos .tiendaProductos .divLista {
              flex-wrap: wrap;
              flex-direction: row;
              width: 100%;
              margin-bottom: 5%;
              justify-content: center; }
              body .grid .mainProductos .tiendaProductos .divLista .menuLista {
                width: 35%;
                padding: 5px 0px;
                margin: 5px; }
            body .grid .mainProductos .tiendaProductos .sectionProductos {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: center; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg {
                width: 90%;
                margin: 15px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .descripcionColor figcaption {
                font-size: 20px; }
        body .grid .mainContacto form {
          width: 250px; } }
    @media screen and (max-width: 600px) and (min-width: 361px) {
      body .grid {
        /* mediasqueries nosotros */
        /* mediasqueries productos */
        /* mediasqueries contacto */ }
        body .grid .section1 .sectionImg {
          width: 350px; }
        body .grid .section1 .sectionImg2 {
          width: 350px; }
        body .grid .section1 .imgLogo {
          margin-top: 30px;
          width: 100px; }
        body .grid .ul-icono {
          padding-left: 20px;
          margin-top: 20px; }
        body .grid .nosotros_div {
          max-width: 100%; }
        body .grid .sectionNosotros {
          margin: auto; }
          body .grid .sectionNosotros .divContainer {
            flex-direction: column;
            justify-content: center; }
            body .grid .sectionNosotros .divContainer .divMap {
              display: none; }
        body .grid .mainProductos {
          width: 100%; }
          body .grid .mainProductos .tiendaProductos {
            flex-direction: column;
            /* productos ========= */ }
            body .grid .mainProductos .tiendaProductos .divLista {
              flex-wrap: wrap;
              flex-direction: row;
              width: 100%;
              margin-bottom: 5%;
              justify-content: center; }
              body .grid .mainProductos .tiendaProductos .divLista .menuLista {
                width: 35%;
                padding: 5px 0px;
                margin: 5px; }
            body .grid .mainProductos .tiendaProductos .sectionProductos {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: center; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg {
                width: 90%;
                margin: 15px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .descripcionColor figcaption {
                font-size: 20px; }
        body .grid .mainContacto form {
          width: 350px; } }
    @media screen and (max-width: 820px) and (min-width: 601px) {
      body .grid {
        /* pages/productos */ }
        body .grid .section1 .sectionImg {
          width: 750px;
          margin-bottom: 15px; }
        body .grid .section1 .sectionImg2 {
          width: 750px;
          margin-bottom: 15px; }
        body .grid .mainProductos {
          width: 100%; }
          body .grid .mainProductos .tiendaProductos {
            flex-direction: column;
            /* lista ========= */
            /* productos ========= */ }
            body .grid .mainProductos .tiendaProductos .divLista {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              width: 100%;
              margin-bottom: 5%; }
              body .grid .mainProductos .tiendaProductos .divLista .menuLista {
                width: 20%;
                padding: 5px 0px;
                margin: 5px; }
            body .grid .mainProductos .tiendaProductos .sectionProductos {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: center; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg {
                width: 40%;
                margin: 15px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .descripcionColor figcaption {
                font-size: 25px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .boton {
                font-size: 20px; } }
    @media screen and (max-width: 1023px) and (min-width: 821px) {
      body .grid {
        /* pages/productos */ }
        body .grid .section1 .sectionImg {
          width: 280px; }
        body .grid .section1 .sectionImg2 {
          width: 430px; }
        body .grid .mainProductos {
          width: 100%; }
          body .grid .mainProductos .tiendaProductos {
            flex-direction: column;
            /* lista ========= */
            /* productos ========= */ }
            body .grid .mainProductos .tiendaProductos .divLista {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              width: 100%;
              margin-bottom: 5%; }
              body .grid .mainProductos .tiendaProductos .divLista .menuLista {
                width: 20%;
                padding: 5px 0px;
                margin: 5px; }
            body .grid .mainProductos .tiendaProductos .sectionProductos {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: center; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .divImg {
                width: 30%;
                margin: 15px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .descripcionColor figcaption {
                font-size: 25px; }
              body .grid .mainProductos .tiendaProductos .sectionProductos .boton {
                font-size: 20px; } }
    @media screen and (max-width: 1150px) and (min-width: 1024px) {
      body .grid {
        /* pages/productos */ }
        body .grid .section1 .sectionImg {
          width: 300px; }
        body .grid .section1 .sectionImg2 {
          width: 450px; }
        body .grid .boton {
          font-size: 12px; } }
    @media screen and (max-width: 1280px) and (min-width: 1151px) {
      body .grid .section1 .sectionImg {
        width: 390px; }
      body .grid .section1 .sectionImg2 {
        width: 600px; } }
