// variables =========

@import "base/variables";


// estilos ===========

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* estructura */

body{
    background-color: $color-principal;
    font-family: $tipo-de-letra-principal;
    .grid{
        display: grid;
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr auto;
        row-gap: 10px;
        grid-template-areas: "header header"
                            "main main"
                            "section1 section1"
                            "footer footer";
                            
        // import/menu ===========

        @import "base/estilos-header";


        // main ===========
        main{
            /* main ========== */
            grid-area: main;
        }
        .mainPrincipal{
            display: flex;
            justify-content: center;
            #carrusel_remera{
                width: 98%;
            }
        }
        // section1 ============
        .section1{
            /* section1 ========= */
            grid-area: section1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 5%;
            img{
                margin: 10px;
            }
            .sectionImg{
                width: $medida-principal+150;
                box-shadow: 0px 0px 6px 0px rgb(73, 73, 73);
            }
            .sectionImg2{
                width: ($medida-principal*2)+85;
                box-shadow: 0px 0px 6px 0px rgb(73, 73, 73);
            }
            .divLogo{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                .imgLogo{
                    max-width: $medida-principal - 100;
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
        // footer =============
        
        @import "base/estilos-footer";

        // import/base =======
        @import "base/extends";

        // import/components ========

        @import "components/nosotros";
        @import "components/productos";
        @import "components/contacto";
        @import "components/carrito";
        // base/meadiasqueries ======
        @import "base/mediasqueries";
        
    }
}



