/* pages/carrito */
.mainCarrito{
    margin: 0px auto;
    .div_carrito{
        text-align: center;
        padding-top: 20px;
        #icono_carrito{
            margin-bottom: 10px;
            
        }
        h3{
            font-size: 1.4em;
        }
    }
}