// variables-maps =========

@import "base/mapas";

/* pages/contacto */
.mainContacto{
    margin: auto;
    form{
        background-color: $color-secundario;
        display: flex;
        flex-direction: column;
        width: 400px;
        border-radius: 10px;
        font-size: 1.0em;
        margin: 0 auto;
        padding: 20px;
        .field{
            border: 1px solid #ccc;
            padding: 10px;
            &:focus{
                border-color: rgb(78, 165, 241);
            }
        }
        .center-content{
            text-align: center;
            .btn{
                border-radius: 5px;
                display: inline-block;
                padding: 10px 15px;
                text-decoration: none;
                text-shadow: map-get($map: $contacto , $key: text-shadow-contacto );
                box-shadow: map-get($map: $contacto , $key: box-shadow-contacto )
            }
            .btn-green{
                color: white;
                background-color: map-get($map: $contacto , $key: color-contacto );
                &:hover{
                    background-color: map-get($map: $contacto , $key: colorHover-contacto );
                }
                &:active{
                    background-color: map-get($map: $contacto , $key: colorActive-contacto );
                }
            }
        }
    }
}

