/* pages/nosotros */
.mainNosotros{
    margin: 0px auto;
    .nosotros_div{
        max-width: $medida-principal*2;
        text-align: center;
        border-radius: 20px;
        background-color: $color-secundario;
    }
}
