// import/mixin ==========

@import "base/mixin";


.mainProductos{
    margin: auto;
}
.sectionProductos{
    grid-area: section1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // mixin =========
    @include btnComprar

}