// footer ===========

footer{
    /* footer ======== */
    grid-area: footer;
    background-color: $color-secundario;
    .ul-icono{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 15px;
        list-style: none;
        .footerA1{
            color: black;
            text-decoration: none;
            margin: 3px;
            transition: 0.5s;
            &:hover{
                color: rgb(228, 109, 198);
                transform: scale(1.1);
            }
        }
        .footerA2{
            color: black;
            text-decoration: none;
            margin: 3px;
            transition: 0.5s;
            &:hover{
                color: rgb(41, 41, 199);
                transform: scale(1.1);
            }
        }
    }
    .p_footer{
        text-align: center;
        color: black;
    }
}