// variables-maps =========

$contacto: (
    text-shadow-contacto: 0 1px 0 rgba(255,255,255,0.3),
    box-shadow-contacto: 0 1px 1px rgba(0,0,0,0.3),
    color-contacto: #3CC93F,
    colorHover-contacto: #37B839,
    colorActive-contacto: #29962A,
)