// mediasqueries celular index
@media screen and (max-width: 360px) and (min-width: 200px){
    /* mediasqueries celular index*/
    .section1{
        .sectionImg{
            width: 250px;
        }
        .sectionImg2{
            width: 250px;
        }
        .imgLogo{
            margin-top: 30px;
            width: 100px;
        }
    }
    .ul-icono{
        padding-left: 20px;
        margin-top: 20px;
    }
    /* mediasqueries nosotros */
    .nosotros_div{
        max-width: 100%;
    }
    .sectionNosotros{
        margin: auto;
        .divContainer{
            flex-direction: column;
            justify-content: center;
            .divMap{
                display: none;
            }
        }
    }
    /* mediasqueries productos */
    .mainProductos{
        width: 100%;
        .tiendaProductos{
            flex-direction: column;
            .divLista{
                flex-wrap: wrap;
                flex-direction: row;
                width: 100%;
                margin-bottom: 5%;
                justify-content: center;
                .menuLista{
                    width: 35%;
                    padding: 5px 0px;
                    margin: 5px;
                }
            }
            /* productos ========= */
            .sectionProductos{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .divImg{
                    width: 90%;
                    margin: 15px;
                }
                .descripcionColor{
                    figcaption{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    /* mediasqueries contacto */
    .mainContacto{
        form{
            width: 250px;
        }
    }
}
@media screen and (max-width: 600px) and (min-width: 361px){   
    .section1{
        .sectionImg{
            width: 350px;
        }
        .sectionImg2{
            width: 350px;
        }
        .imgLogo{
            margin-top: 30px;
            width: 100px;
        }
    }
    .ul-icono{
        padding-left: 20px;
        margin-top: 20px;
    }
    /* mediasqueries nosotros */
    .nosotros_div{
        max-width: 100%;
    }
    .sectionNosotros{
        margin: auto;
        .divContainer{
            flex-direction: column;
            justify-content: center;
            .divMap{
                display: none;
            }
        }
    }
    /* mediasqueries productos */
    .mainProductos{
        width: 100%;
        .tiendaProductos{
            flex-direction: column;
            .divLista{
                flex-wrap: wrap;
                flex-direction: row;
                width: 100%;
                margin-bottom: 5%;
                justify-content: center;
                .menuLista{
                    width: 35%;
                    padding: 5px 0px;
                    margin: 5px;
                }
            }
            /* productos ========= */
            .sectionProductos{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .divImg{
                    width: 90%;
                    margin: 15px;
                }
                .descripcionColor{
                    figcaption{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    /* mediasqueries contacto */
    .mainContacto{
        form{
            width: 350px;
        }
    }
}
/* mediaqueries tablet index */
@media screen and (max-width: 820px) and (min-width:601px){
    .section1{
        .sectionImg{
            width: 750px;
            margin-bottom: 15px;
        }
        .sectionImg2{
            width: 750px;
            margin-bottom: 15px;
        }
    }

    /* pages/productos */
    .mainProductos{
        width: 100%;
        .tiendaProductos{
            flex-direction: column;
            /* lista ========= */
            .divLista{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                margin-bottom: 5%;
                .menuLista{
                    width: 20%;
                    padding: 5px 0px;
                    margin: 5px;
                }
            }
            /* productos ========= */
            .sectionProductos{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .divImg{
                    width: 40%;
                    margin: 15px;
                }
                .descripcionColor{
                    figcaption{
                        font-size: 25px;
                    }
                }
                .boton{
                    font-size: 20px;
                }
            }
        }
    }
}

/* mediaqueries tablet grande index*/

@media screen and (max-width: 1023px) and (min-width: 821px){
    .section1{
        .sectionImg{
            width: 280px;
        }
        .sectionImg2{
            width: 430px;
        }
    }

    /* pages/productos */
    .mainProductos{
        width: 100%;
        .tiendaProductos{
            flex-direction: column;
            /* lista ========= */
            .divLista{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                margin-bottom: 5%;
                .menuLista{
                    width: 20%;
                    padding: 5px 0px;
                    margin: 5px;
                }
            }
            /* productos ========= */
            .sectionProductos{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .divImg{
                    width: 30%;
                    margin: 15px;
                }
                .descripcionColor{
                    figcaption{
                        font-size: 25px;
                    }
                }
                .boton{
                    font-size: 20px;
                }
            }
        }
    }
}
/* mediasqueries */
@media screen and (max-width: 1150px) and (min-width: 1024px){
    .section1{
        .sectionImg{
            width: 300px;
        }
        .sectionImg2{
            width: 450px;
        }
    }
    /* pages/productos */
    .boton{
        font-size: 12px;
    }
}
/* mediasqueries */
@media screen and (max-width: 1280px) and (min-width: 1151px){
    .section1{
        .sectionImg{
            width: 390px;
        }
        .sectionImg2{
            width: 600px;
        }
    }
}