// mixin ===========


@mixin btnComprar {
    .boton{
        .btnComprar{
            border-radius: 5px;
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255,255,255,0.3);
            box-shadow: 0 1px 1px rgba(0,0,0,0.3);
        }
        .btn-black{
            color: white;
            background-color: #2D3E50;
            &:hover{                    
                background-color: rgb(66, 64, 64);
            }
            &:active{
                background-color: rgb(133, 129, 129);
            }
        }
        .btnCarrito{
            border-radius: 5px;
            display: inline-block;
            padding: 5px 15px;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255,255,255,0.3);
            box-shadow: 0 1px 1px rgba(0,0,0,0.3);
        }
        .btn-white{
            color: white;
            background-color: #7289a1;
            &:hover{
                background-color: rgb(66, 66, 66);
            }
            &:active{                    
                background-color: rgb(97, 97, 97);
            }
        }
    }
}