// variables ======
$color-principal:white;
$color-secundario:whitesmoke;
$color-titulo-pages:#494B4D;
$color-raya-pages:#C7C7C7;
$tipo-de-letra-principal:'Roboto', sans-serif;
$tipo-de-letra-secundario:'Oswald', sans-serif;
$medida-principal:300px;